<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      Messages:

      <% messages.forEach(function(message) { %>
        <h2><%= message.user %></h2>
        <p><%= message.text %></p>
        <p><%= message.added %></p>
      <% }); %>
    </ul>
    <a href="/new">Create new message</a>
  </body>
</html>
